@import "../styles/colors.scss";

.button {
    min-width: 300px;
    height: 50px;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 1;
    text-transform: capitalize;
    letter-spacing: 0.1em;
    color: $light-primary-color;
    border-radius: 5px;
    background-color: $primary-color;
    transition: all 0.2s ease;
    position: relative;

    &:hover {
        background-color: $primary-color-opacity;
    }

    &:active {
        background-color: $light-primary-color;
        color: $dark-primary-color;
    }

    &[disabled] {
        background-color: $primary-color-disabled;
        color: $light-primary-color-opacity;
        cursor: not-allowed;
    }

    &[disabled].loader {
        color: transparent;
    }

        &--short {
            right: 0;
            min-width: 100px;
            height: 40px;
        }

        &--link {
            min-width: 100px;
            height: 40px;
            color: $light-primary-color;
            letter-spacing: 0.1em;
            border: 1px solid $light-primary-color;
            border-radius: 5px;
            padding: 5px;
            transition: all 0.25s ease;
            background-color: transparent;
            text-decoration: none;

            &:hover {
                background-color: $light-primary-color;
                color: $dark-primary-color;
            }

            &:active {
                background-color: $light-primary-color-opacity;
                border-color: transparent;
            }
        }
}
