.movie-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.movie-wrapper::after {
  content: "";
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(225.82deg, #352F44 24.16%, #5C5470 87.91%);
  position: fixed;
  top: 50px;
  left: -75px;
  z-index: -1;
}
.movie-wrapper::before {
  content: "";
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(225.82deg, #352F44 24.16%, #5C5470 87.91%);
  position: fixed;
  bottom: 50px;
  right: -75px;
  z-index: -1;
}

#filter-btn {
  right: 0;
  min-width: 100px;
  height: 40px;
}
.header__links {
  display: flex;
  justify-content: space-between;
}
.center {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.movies {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 340px);
  grid-gap: 20px;
  justify-content: center;
  flex-grow: 1;
}

.not-found-fill {
  display: block;
  font-size: 50px;
  color: var(--light-primary-color-opacity);
  text-align: center;
}

.place-right {
  display: flex;
  justify-content: end;
  flex-shrink: 0;
}
.film-poster {
  background: #000;
  width: 100%;
  max-height: 200px;
  height: 100%;
  overflow: hidden;
  transition: max-height 0.5s ease;
}
.small-poster{
  width: 100%;
  height: 200px;
}
.film-description {
  width: 100%;
  max-height: 50px;
  height: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: flex-end;
  background: var(--primary-color-opacity);
  transition: max-height 0.5s ease;
  overflow: hidden;
}
.card-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.card {
  width: 340px;
  height: 250px;
  font-size: 16px;
  position: relative;
  margin-bottom: 80px;
  border-radius: 10px;
}
@keyframes unscale {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}
@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
.card img {
  animation: unscale 0.5s ease;
}
.card:hover {
  cursor: pointer;
}
.card:hover img {
  animation: scale 0.5s ease forwards;
}
.film-name {
  max-width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.film-duration {
  max-width: 30%;
}
.film-rate {
  width: 50px;
  height: 22px;
  position: absolute;
  left: -10px;
  top: 10px;

  justify-content: center;
  align-items: center;
  padding: 4px;
  border-radius: 5px;
  text-align: center;
}
.good-rate {
  background-color: #246724;
}
.bad-rate {
  background-color: #5B5B5B;
}

.filter-active {
  background: #ffffff;
  color: #151C26;
}

.not-fond-wrapper {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.svg-not-found {
  width: 60%;
  height: 60%;
  color: var(--light-primary-color-opacity);
}

.filters-modal-box {
  background-color: #000000a1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 500%;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filters-modal-box.active {
  animation: active 0.2s ease forwards;
  z-index: 10;
}

.filters-modal-box.hide {
  display: none;
}
.movie-title {
  flex: 1 0 auto;
  padding-left: 41px;
  width: 500px
}