@import '../common/styles/colors.scss';

.movie-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.movie-wrapper::after {
    content: "";
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(225.82deg, $dark-primary 24.16%, $primary-color 87.91%);
    position: fixed;
    top: 50px;
    left: -75px;
    z-index: -1;
}
.movie-wrapper::before {
    content: "";
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(225.82deg, $dark-primary 24.16%, $primary-color 87.91%);
    position: fixed;
    bottom: 50px;
    right: -75px;
    z-index: -1;
}

#filter-btn {
    right: 0;
    min-width: 100px;
    height: 40px;
}

.center {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.movies {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 340px);
    grid-gap: 20px;
    justify-content: center;
    flex-grow: 1;
}

.place-right {
    display: flex;
    justify-content: end;
    flex-shrink: 0;
  }