.main {
    flex-grow: 1;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 100px;
}

.fields {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.basic-field,
.label {
    margin-bottom: 20px;
}
