.header__container {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  max-width: 1500px;
  padding: 0 40px;
  margin: 0 auto;
}
.basic-link {
  min-width: 100px;
  height: 40px;
  color: var(--light-primary-color);
  letter-spacing: 0.1em;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--light-primary-color);
  border-radius: 5px;

  padding: 5px;

  transition: all 0.25s ease;
}

.basic-link:hover {
  background-color: var(--light-primary-color);
  color: var(--dark-primary-color);
}

.basic-link:active {
  background-color: var(--light-primary-color-opacity);
  border-color: transparent;
}

.header__links {
  display: flex;
  justify-content: space-between;
}
