$dark-primary-color: #151C26;
$dark-primary-color-opacity: #151C267F;
$dark-primary-color-opacity-80: #151C26CC;
$dark-primary-color-opacity-90: #000000e6;
$light-primary-color: #DBDEE5;
$light-primary-color-opacity: #DBDEE580;
$primary-color: #5C5470;
$primary-color-opacity: #5C547080;
$primary-color-disabled: #5C547033;
$primary-color-invalid: #ff0000;
$black: #000;
$good-rate: #246724;
$bad-rate: #5B5B5B;
$dark-primary: #352F44;
$white: #fff;